<main>
  {{#if isLoading}}
    Loading...
  {{else}}
    {{{buttonBack}}}
    <div class="profile__wrapper">
      <div class="profile">
        {{{avatar}}}
        <ul class="profile-list">
          {{#each inputData}}
            {{#if this.name}}
              <li class="profile-listitem">
                <span class="profile-listitem__name">{{this.title}}</span>
                <span class="profile-listitem__value">{{this.data}}</span>
              </li>
            {{/if}}
          {{/each}}
        </ul>
        <nav class="profile-action">
          <ul class="profile-list">
            <li class="profile-listitem">
              {{{linkProfileEdit}}}
            </li>
            <li class="profile-listitem">
              {{{linkPassChange}}}
            </li>
            <li class="profile-listitem profile-listitem__warning">
              {{{linkOut}}}
            </li>
          </ul>
        </nav>
      </div>
    </div>
  {{/if}}
</main>
