<label for="{{name}}" class="placeHolderInput">
  {{{input}}}
  <span class="placeHolderInput__placeholder {{search}}">
    {{placeholder}}
  </span>
  {{#if error}}
    <div class="placeHolderInput__error">{{error}}</div>
  {{/if}}
</label>
