<li class="channel">
  <div class="channel__avatar"><img src="{{avatar}}" /></div>
  <p class="channel__name">{{name}}</p>
  <p class="channel__time">{{time}}</p>
  <p class="channel__msg">
    {{#if your}}
      <span class="channel__your-msg">Вы:</span>
    {{/if}}
    {{msg}}
  </p>
  {{#if msgCount}}
    <p class="channel__msg-count">{{msgCount}}</p>
  {{/if}}
</li>
