<div class="currentchat">
  {{#if selectedChats}}
    {{{overlayDelUser}}}
    {{{overlayAddUser}}}
    <div class="currentchat-head">
      <div class="currentchat-head__user">
        <div class="currentchat-head__user-avatar">
          {{{avatarImg}}}
        </div>
        <p class="currentchat-head__user-name">{{title}}</p>
      </div>

      <div class="btn-drop__wrapper">
        <button class="btn-drop__btn currentchat-head__btn">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <div class="btn-drop__drop currentchat-action">
          <div class="btn-drop__drop-wrapper">
            <ul class="btn-drop__drop-list" role="list">
              <li class="btn-drop__item">
                {{{addUserBtn}}}
              </li>
              <li class="btn-drop__item currentchat-action__item">
                {{{delUserBtn}}}
              </li>
              <li class="btn-drop__item currentchat-action__item">
                {{{delChatBtn}}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="currentchat-msgs">{{#each messages}} {{{this}}} {{/each}}</div>
    <form action="#">
      <div class="currentchat-newmsg">
        <div class="btn-drop__wrapper">
          <button class="btn-drop__btn currentchat-newmsg__btn">
            <img src="{{imgs.clip}}" alt="Прикрепить файл" />
          </button>
          <div class="btn-drop__drop">
            <div class="btn-drop__drop-wrapper">
              <ul class="btn-drop__drop-list" role="list">
                <li class="btn-drop__item">
                  <button>
                    <div class="btn-drop__drop-icon">
                      <img
                        src="{{imgs.iconPhotoVideo}}"
                        alt="Добавить фото или видео"
                      />
                    </div>
                    <p>Фото или Видео</p>
                  </button>
                </li>
                <li class="btn-drop__item">
                  <button>
                    <div class="btn-drop__drop-icon">
                      <img src="{{imgs.iconFile}}" alt="Добавить файл" />
                    </div>
                    <p>Файл</p>
                  </button>
                </li>
                <li class="btn-drop__item">
                  <button>
                    <div class="btn-drop__drop-icon">
                      <img src="{{imgs.iconLocation}}" alt="Добавить локацию" />
                    </div>
                    <p>Локация</p>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
        {{{newMsgInput}}}
        {{{sendBtn}}}
      </div>
    </form>
  {{else}}
    <div class="currentchat__msg currentchat__empty">
      <nav>
        <p>Выберите чат чтобы отправить сообщение</p>
      </nav>
    </div>
  {{/if}}
</div>
