<label for="{{name}}" class="placeHolderInput__label">
  <input
    class="placeHolderInput__input"
    id="{{name}}"
    name="{{name}}"
    type="{{type}}"
    placeholder="&nbsp;"
    value="{{value}}"
  />
  <span class="placeHolderInput__placeholder {{search}}">
    {{placeholder}}
  </span>
  {{#if error}}
    <div class="placeHolderInput__error">{{error}}</div>
  {{/if}}
</label>