<form action="#">
<ul class="profile-list profile-edit">
  {{#each data}}
    {{#if this.name}}
      <li class="profile-list__item">
        <label class="profile-list__item-name" for="{{this.name}}">{{this.title}}</label>
        <input class="profile-list__input" id="{{this.name}}" value="{{this.data}}" name="{{this.name}}"></input>
      </li>
    {{/if}}
  {{/each}}
</ul>
<div class="profile-action">
  <button onclick="renderPage('profile')" class="button save-info">Сохранить</button>
</div>
</form>