<main class="chats-wrapper">
{{#each overlays}}
  {{>overlayInput
    class = this.class
    caption = this.caption
    inputName = this.inputName
    inputPlaceHolder = this.inputPlaceHolder
    btnText = this.btnText
    inputValue = this.inputValue
}}
{{/each}}
<section class="left-side">
    <div class="show-profile">
      <button class="show-profile__btn" onclick="renderPage('profile')">{{buttonText}}</button>
    </div>
    <aside class="channels">
      <div class="channels-search">
        {{>searchInput 
            name = "channel-search"
            type = "text"
            placeholder = placeholder
          }}
      </div>
      <ul class="channels__list" role="list">
        {{#each chanels}}
          {{>channel 
            avatar = this.avatar
            name = this.name
            time = this.time
            msg = this.msg
            msgCount = this.msgCount
            your = this.your
          }}
        {{/each}}
      </ul>
    </aside>
  </section>
  <section class="right-side">
    <div class="chat">
      <div class="chat-head">
        <div class="chat-head__user">
          <div class="chat-head__user-avatar"></div>
          <p class="chat-head__user-name">Вадим</p>
        </div>

        <div class="btn-drop__wrapper">
          <button class="btn-drop__btn chat-head__btn">
            <span></span>
            <span></span>
            <span></span>
          </button>
          <div class="btn-drop__drop chat-action">
            <div class="btn-drop__drop-wrapper">
              <ul class="btn-drop__drop-list" role="list">
                <li class="btn-drop__item">
                  <button onclick="let overlay = document.querySelector('.overlay.add-user');
                 overlay.classList.toggle('hide');"><div
                      class="btn-drop__drop-icon chat-action__icon chat-action__icon_add"
                    ></div><p>Добавить пользователя</p></button>
                </li>
                <li class="btn-drop__item chat-action__item">
                  <button onclick="let overlay = document.querySelector('.overlay.del-user');
                 overlay.classList.toggle('hide');"><div
                      class="btn-drop__drop-icon chat-action__icon chat-action__icon_delete"
                    ></div><p>Удалить пользователя</p></button>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
      <div class="chat__msg chat__empty">
        <p>Выберите чат чтобы отправить сообщение</p>
        <nav>
          <p>Или посетите:</p>
          <nav>
          <ul role="list">
            <li><a onclick="renderPage('pagenotfound')" href="#">Нашу фирменную 404-ю страницу</a></li>
            <li><a onclick="renderPage('500')" href="#">Нашу незабываемую страницу с кодом 500</a></li>
          </ul>
          </nav>
        </nav>
        </div>
      <div class="chat-newmsg">

        <div class="btn-drop__wrapper">
          <button class="btn-drop__btn chat-newmsg__btn">
            <img src="{{imgs.clip}}" alt="Прикрепить файл" />
          </button>
          <div class="btn-drop__drop">
            <div class="btn-drop__drop-wrapper">
              <ul class="btn-drop__drop-list" role="list">
                <li class="btn-drop__item">
                  <button><div class="btn-drop__drop-icon">
                    <img src="{{imgs.iconPhotoVideo}}" alt="Добавить фото или видео">
                  </div><p>Фото или Видео</p></button>
                </li>
                <li class="btn-drop__item">
                  <button><div class="btn-drop__drop-icon"><img src="{{imgs.iconFile}}" alt="Добавить файл"></div><p>Файл</p></button>
                </li>
                <li class="btn-drop__item">
                  <button><div class="btn-drop__drop-icon">
                    <img src="{{imgs.iconLocation}}" alt="Добавить локацию">
                  </div><p>Локация</p></button>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <input class="chat-newmsg__input" name="message" type="text" placeholder="Сообщение" />
        <button class="arrow-button"></button>
      </div>
    </div>
  </section>
</main>
